@model Lift.Models.StartupConfigurations

@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Table.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/Div.css" />
    <link rel="stylesheet" href="~/css/Classes.css" />

    <script>
        function Download() {
            alert("The properties was downloaded");
        }
    </script>
</head>

<body>
    <!--  background="~/Back.jpg" ;-->
    <div>
        <div class="status-bar" style="text-align: center;">
            <text style="font-size: 250%;"><b>The Simulation Was Closed</b></text><br><br>
            <text style="font-size: 150%;"><b>Входные данные:</b></text><br>
            <div style="text-align: left;">
                <ul>
                    <li>Лифты: @Model.Lifts</li>
                    <li>Этажи: @Model.Floors</li>
                    <li>Максимальное кол-во людей в лифте: @Model.PeopleInLifts</li>
                    <li>Максимальная скорость лифтов (эт/с): @Model.SpeedOfLifts</li>
                    <li>Максимальное ускорение (м/с<sup>2</sup>): @Model.AccelerationOfLifts</li>
                </ul>
            </div>
            <text style="font-size: 150%;"><b>Выходные данные:</b></text><br><br>
            <table style="margin-left: 40px; border: 1px solid black;">
                <thead>
                    <tr>
                        <th>Номер лифта</th>
                        @{ int Lifts = 1; }
                        @do
                        {
                            <th>@Lifts</th>
                            Lifts++;
                        } while (Lifts <= Model.Lifts);
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <text>Общее количество поездок</text>
                        </td>

                        @{ Lifts = 1; }
                        @do
                        {
                            int x = Lifts * 5;
                            <td>@x</td>
                            Lifts++;
                        } while (Lifts <= Model.Lifts);

                    </tr>

                    <tr>
                        <td>
                            <text>Процент “холостых” поездок</text>
                        </td>

                        @{ Lifts = 1; }
                        @do
                        {
                            int x = Lifts * 2;
                            <td>@x</td>
                            Lifts++;
                        } while (Lifts <= Model.Lifts);

                    </tr>

                    <tr>
                        <td>
                            <text>Количество перевезённых людей</text>
                        </td>

                        @{ Lifts = 1; }
                        @do
                        {
                            int x = Lifts * 3;
                            <td>@x</td>
                            Lifts++;
                        } while (Lifts <= Model.Lifts);

                    </tr>
                </tbody>
            </table>
            <div style="text-align: left;">
                <ul>
                    <li>Общее количество поездок: 60</li>
                    <li>Среднее время ожидания лифтов (c): 10 </li>
                    <li>Наибольшее время ожидания лифта (с): 20</li>
                    <li>Суммарное время ожидания лифтов (с): 600</li>
                    <li>Колличество пожарных тревог: 2</li>
                    <li>Cуммарная длительность пожарных тревог (с): 28</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-left: 700px; margin-top: 20px;">
        <button onclick="Download()" style="color: rgb(0, 0, 0); margin-right: 20%; width: 200px;
                height: 40px; background:rgb(106, 109, 106);
                            border-radius: 20px;">
            <b>DOWNLOAD</b>
        </button>
    </div>
</body>
</html>