@model Models.Models.StartupConfigurations
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/Div.css" />
    <link rel="stylesheet" href="~/css/Classes.css" />

    <style>
        
        #person {
        position: relative;
        cursor: pointer;
        }
  
        .status-bar {
            background: linear-gradient(to top, rgb(106, 109, 106), #fdfdfd );
            color: black;
            border-radius: 10px;
            padding: 2px;
            text-align: center;
            margin-left: 5%;
            width: 150px;
            height: 140px;
            margin-left: 1300px;
            margin-top: -140px;
        }
    </style>

    <script>
        function Start() {
            alert("Simulation was started!");
        }

        function Pause() {
            alert("Simulation was pauseded!")
        }

        function SpeedUp() {
            alert("Speed was increased!");
        }

        function SpeedDown() {
            alert("Speed was decreased!");
        }

        function Emergency() {
            alert("!!!WARNING!!!");
        }

        function Create(Floor) {
            let start = Date.now();

            let timer = setInterval(function () {
                let timePassed = Date.now() - start;

                person.style.left = timePassed / 6 + 'px';

                if (timePassed > 3000) clearInterval(timer);

            }, 20);
        }
    </script>
</head>

<body>
    <!-- background="~/Back.jpg";-->
    <table style="width: 1200px;">
        @{
            int Floors = Model.Floors + 1;
        }
        @do
        {
            Floors--;
        <tr>
            <!--First Block-->
            <!--First Colomn (Create)-->
            <td style="width: 120px;">
                <div>
                    <a onclick="Create(@Floors)" class="create-button" asp-controller="Human"
                       asp-action="Create"
                       asp-route-floorNumber="@Floors">Create</a>
                </div>
            </td>

            <!--Second Colomn (Зеленый кружок)-->
            <td style="width: 600px;">
                <img id="person" src="~/person.jpg" style="width: 40px; height:45px">
            </td>

            <!--Панелька кнопочек у лифта-->
            <td style="width: 185px; ">
                <div style="background:linear-gradient(to top, rgb(79, 240, 30),#a4ff92);
                    width: 175px; height: 15px; padding: 15px; margin-left: 1%;">
                    <table>

                        <tr style="position: relative; left: -8px; top: -14px;">
                            <!--Кнопочка 1-->
                            @for (int i = 1; i <= 20; i += 2)
                            {
                                @if (ViewBag.ActiveFloor != null && Floors == ViewBag.ActiveFloor &&
                                  ViewBag.ChoisenFloor != null && i == ViewBag.ChoisenFloor)
                                {
                                    <td>
                                        <div class="status-diode" style="background-color: purple;">
                                            <text>@i</text>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="status-diode">
                                            <text>@i</text>
                                        </div>
                                    </td>
                                }

                            }

                        <tr style="position: relative; left: -8px; top: -14px;">
                            @for (int i = 2; i <= 20; i += 2)
                            {
                                @if (ViewBag.ActiveFloor != null && Floors == ViewBag.ActiveFloor &&
                                  ViewBag.ChoisenFloor != null && i == ViewBag.ChoisenFloor)
                                {
                                    <td>
                                        <div class="status-diode" style="background-color: purple;">
                                            <text>@i</text>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="status-diode">
                                            <text>@i</text>
                                        </div>
                                    </td>
                                }

                            }
                        </tr>
                    </table>
                </div>
            </td>

            <!--Индикатор Этажей-->
            <td style="width: 20px;">
                <div class="indicator-flats" style="display:flex; justify-content: center; align-items: center">
                    <b style="position: relative; color: #C5C5C5; font-size: 2em; left: 0px;">@Floors</b>
                </div>
            </td>

            @{
                int Lifts = 0;
            }
            @do
            {
                Lifts++;

                <!--Lift-->
                <td style="width: 55px;">
                    <div class="lift-background">
                        <img src="~/closedlift.jpg" class="lift">
                    </div>
                </td>
            } while (Lifts < Model.Lifts);

            @*<!--Lift Second-->
        <td style="width: 55px;">
            <div class="lift-background">
                <!--<img src="closedlift.jpg" class="lift">-->
            </div>
        </td>

        <!--Lift Third-->
        <td style="width: 55px;">
            <div style="background: rgb(110, 104, 104);
            width: 50px; height: 15px; padding: 15px; margin-left: 1%;">
            </div>
        </td>*@
        </tr>
        } while (Floors > 1);
    </table>

    <!--START-->
    <div style="display: flex;">
        <form asp-action="Start" style="margin-top: -500px; color: white; width: 150px; height: 50px;
            background: linear-gradient(to left, rgb(173, 116, 10), #fbff23 ); border-radius: 20px; margin-left: 1300px;">
            <button type="submit" style="color: white; width: 150px; height: 50px;
                background: linear-gradient(to left, rgb(173, 116, 10), #fbff23 ); border-radius: 20px;">
                <b>START</b>
            </button>
        </form>
    </div>

    <!--PAUSE-->
    <div onclick="Pause()" style="display: flex;">
        <button class="start-pause-stop" style="margin-top:-440px;">
            <b>PAUSE</b>
        </button>
    </div>

    <!--STOP-->
    <form asp-action="ExitInterface" method="post">
        <div style="display: flex;">
            <button class="start-pause-stop" style="margin-top:-380px;">
                <b>STOP</b>
            </button>
        </div>
    </form>


    <!--SPEED UP-->
    <div style="display: flex;">
        <button onclick="SpeedUp()" class="speed" style="margin-left: 1310px;">
            <b>SPEED UP</b>
        </button>
    </div>

    <!--SPEED DOWN-->
    <div style="display: flex;">
        <button onclick="SpeedDown()" class="speed" style="margin-left: 1380px;">
            <b>SPEED DOWN</b>
        </button>
    </div>

    <!--EMERGENCY-->
    <div style="display: flex;">
        <button onclick="Emergency()" class="emergency">
            <b>EMERGENCY</b>
        </button>
    </div>

    <!--NOT BUTTON !-->
    <div style="display: flex;">
        <button class="indicator" disabled>
            <b>!</b>
        </button>
    </div>

    <!--Status Bar-->
    <div style="display: flex;">
        <div class="status-bar">
            <text style="text-align: center; margin-left: 5%; font-size: 250%;"><b>Status Bar</b></text>
            <br>
            <text style="text-align: center; margin-left: 5%;">Time: 1111<br>People: 13</text>
        </div>
    </div>
</body>

</html>